{% extends 'global/base.html' %}

{% block title %}Página inicial{% endblock title %}

{% block content %}
    {% include 'paginas/layouts/mensagem.html' %}
    <div class="main-content main-content-list container">
        {% for receita in receitas %}
            {% include 'layouts/receita.html' %}
        {% empty %}
            <div class="center">
                <h1>Não foram encontradas receitas</h1>
            </div>
        {% endfor %}
        {% include 'paginas/layouts/paginacao.html' %}
    </div>
{% endblock content %}